.content {
    padding: 20px;
    height: 100%;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #454f5b;
    font-size: 12px;

    .right {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;

            svg {
                &:hover {
                    cursor: pointer;
                }
            }
            svg:nth-child(2) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}

.loading_container {
    height: 100%;
    width: 100%;
    background-color: #f9fafb;
    border: 1px solid #c4cdd54d;
    border-top-left-radius: 10px;

    svg {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
}

.header {
    font-size: 14px;
    color: #242930;
    font-weight: 600;
}
.wrapper {
    padding: 20px;
    background-color: white;
    //border: 1px solid #c4cdd54d;
    color: #454f5b;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.title {
    background-color: #f9fafb;
    padding: 10px;
    display: grid;
    border-radius: 4px;
    grid-template-columns: 25% 15% 20% 20% 20%;
    //grid-template-columns: repeat(5, minmax(0, 1fr));
    border: 1px solid #c4cdd54d;
}

.label {
    input {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1151px) {
    .title {
        display: none;
    }

    .wrapper{
        overflow: scroll;
    }
}
