.wrapper {
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 15% 20% 20% 20%;
    //grid-template-columns: repeat(5, 1fr);
    font-size: 12px;
    border-bottom: 1px solid #c4cdd54d;
    overflow: visible;

    div:nth-child(3) {
        span {
            background-color: #672cff;
            color: white;
            padding: 4px;
            border-radius: 4px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.label {
    display: flex;
    align-items: center;
    input {
        margin-right: 20px;
        vertical-align: middle;
    }

    .item {
        display: grid;
        grid-template-columns: 50px 100px;
        gap: 20px;
    }
}

.name {
    color: #242930;
}

.total,
.status {
    display: flex;
    align-items: center;
}
.updated {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kebab {
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 4px;

    &:hover {
        background-color: #f9fafb;
        //background-color: blue;
        cursor: pointer;
    }
}

.dropdown {
    overflow: visible;
    max-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.dropdown_content {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 24px;
    border: 1px solid #c4cdd54d;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    z-index: 2;
    border-radius: 10px;

    div {
        padding: 10px 20px;
        &:hover {
            cursor: pointer;
            background-color: #f9fafb;
        }
    }
}

.hide {
    display: none;
}


@media only screen and (max-width: 1151px) {
    .item {
        img {
            border-radius: 5px;
        }
    }

    .content {
        overflow-y: scroll;
    }
    .wrapper {
        grid-template-columns: auto auto;
        grid-template-areas:
            "item status "
            "sales sales ";
        gap: 10px;
    }

    .total {
        display: none;
    }

    .label {
        img{
            max-width: 50px;
        }
        input {
            display: none;
        }
    }

    .updated {
        display: none;
    }

    .status {
        display: none;
    }

    .rating {
        display: flex;
        justify-content: flex-end;
        .stars {
            display: none;
        }
    }

    .item {
        .info {
            width: 200px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10px;
        }
    }
}
