.content {
    padding: 20px;
    height: 100%;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #454f5b;
    font-size: 12px;

    .right {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;

            svg {
                &:hover {
                    cursor: pointer;
                }
            }
            svg:nth-child(2) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}
.wrapper {
    padding: 20px;
    background-color: white;
    color: #454f5b;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #c4cdd54d;
    border-radius: 10px;
}

.header {
    font-size: 14px;
    color: #242930;
    font-weight: 600;
}

.title {
    background-color: #f9fafb;
    padding: 15px;
    display: grid;
    border-radius: 7px;
    border: 1px solid #c4cdd54d;
    align-items: center;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.label {
    input {
        margin-right: 20px;
    }
}

.loading_container {
    height: 100%;
    width: 100%;
    background-color: #f9fafb;
    border: 1px solid #c4cdd54d;
    border-top-left-radius: 10px;

    svg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1160px) {
    .wrapper {
        overflow-x: scroll;
    }

    .title {
        grid-template-columns: repeat(6, minmax(0, 16%));
    }
}

@media only screen and (max-width: 1151px) {
    .content {
        overflow-y: scroll;
    }
    .wrapper {
        grid-template-columns: repeat(6, minmax(0, 16%));
        grid-template-areas:
            "name name name name name name"
            "order order order order method method"
            "total total  date date status status";
        gap: 10px;
    }

    .responsive {
        min-width: none;
    }

    .title {
        display: none;
    }

    .name {
        grid-area: name;
    }

    .label {
        grid-area: order;
    }

    .total {
        grid-area: total;
    }

    .date {
        grid-area: date;
    }

    .payment {
        grid-area: status;
    }

    .payment_method {
        grid-area: method;
        display: flex;
        gap: 10px;
    }

    .label {
        input {
            display: none;
        }
    }
}

@media only screen and (max-width: 430px) {
    .arrows{
        font-size: 14px;
        gap: 10px;
        svg{
            transform: scale(2);
        }
    }

    .title {
        display: none;
    }
}

