.wrapper {
    padding: 15px;
    display: grid;
    border-bottom: 1px solid #c4cdd54d;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    overflow: visible;
    font-size: 12px;
}

.label {
    input {
        margin-right: 20px;
    }
}

.refunded {
    color: #ffc107;
}

.paid {
    color: #34c38f;
}

.chargeback {
    color: #ff4842;
}

.kebab {
    display: grid;
    place-items: center;
    padding: 5px;
    margin-top: -5px;
    border-radius: 4px;

    &:hover {
        background-color: #f9fafb;
        //background-color: blue;
        cursor: pointer;
    }
}

.dropdown {
    overflow: visible;
    max-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    max-width: 30px;
}

.dropdown_content {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 20px 24px;
    border: 1px solid #c4cdd54d;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    z-index: 2;
    border-radius: 10px;

    div {
        padding: 10px 20px;
        &:hover {
            cursor: pointer;
            background-color: #f9fafb;
        }
    }
}

.payment_method {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1160px) {
    .wrapper {
        grid-template-columns: repeat(6, minmax(0, 16%));
    }
}

@media only screen and (max-width: 1151px) {
    .wrapper {

        box-shadow: none;
        grid-template-columns: repeat(6, minmax(0, 16%));
        grid-template-areas:
            "name name date date x x"
            "order order date date method method"
            "total total  date date status status";
            gap: 10px;
    }

    .name{
        grid-area: name;
    }

    .label{
        grid-area: order;
    }

    .total{
        grid-area: total;
    }

    .date{
        grid-area: date;
    }

    .payment{
        grid-area: status;
    }

    .payment_method{
        grid-area: method;
        display: flex;
        gap: 10px;
    }

    .label {
        input {
            display: none;
        }
    }
}
